-- onprem: replace upstream default logins (adminPC/adminPC, pilot/pilot123).
-- Rendered by setup.sh from .env into sql/03_onprem_credentials.sql (gitignored).
USE `cloud_sample`;
UPDATE `manage_user` SET `password` = '${WEB_ADMIN_PASSWORD}',   `mqtt_username` = '${MQTT_PILOT_USER}', `mqtt_password` = '${MQTT_PILOT_PASSWORD}' WHERE `username` = 'adminPC';
UPDATE `manage_user` SET `password` = '${PILOT_LOGIN_PASSWORD}', `mqtt_username` = '${MQTT_PILOT_USER}', `mqtt_password` = '${MQTT_PILOT_PASSWORD}' WHERE `username` = 'pilot';
UPDATE `manage_workspace` SET `workspace_name` = '${WORKSPACE_NAME}', `platform_name` = '${PLATFORM_NAME}', `bind_code` = '${WORKSPACE_BIND_CODE}';
